[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-ack"]
	path = vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/vim-numbers"]
	path = vim/bundle/vim-numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-pig"]
	path = vim/bundle/vim-pig
	url = git://github.com/jorgeramirez/vim-pig.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-php"]
	path = vim/bundle/vim-php
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-vue"]
	path = vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/bundle/vmustache"]
	path = vim/bundle/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "vim/bundle/pdv"]
	path = vim/bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
